div{
	background-image:url("http://www.pptbackgrounds.org/uploads/sport-car-design-powerpoint-templates.jpg");
	background-color:#99ccff;
	font-size: 1.2em;
	line-height: 1.4em;
	text-align: center;
	height: 1020px;
	background-size: cover;
}
.nav{
	background-color:#404040;
	margin: 50px;
	padding: 30px;
}
.nav li{
	display: inline-block;
	padding: 0px 50px;
	font-size: 1.2em;
	
}
.nav a{
	color:#ffffff;
	text-decoration: underline;
}
.nav a:hover{
	color: red;
	text-decoration: none;
}
p {
	color: #ffffff;
	font-size: 1.2em;
	padding: 50px;
	margin: 20px;
	border: 20px lightgrey groove;
}
img{
	height: 300px;
	width: 3oopx;
	border: 4px #ffffff inset;
	display: flex;
	flex-wrap: wrap;
}
h1{
	color: lightgrey
	font-family:Verdana;
}
