
div.editors {
	color:#ffff33;
	font-size:20px;
	background:#ff88ff;
}
div {
	border: solid;
	padding-left: 200px;
	margin-left: 400px;
	background-color: #00ff00;
}

body{
	background: #000044;

}
ul{
	padding-left:200px;
	margin-left:150px;
}
a:hover{
	color:#ff0000;
	text-decoration: underline;
}
span #CSS{
	background-color: #ffff33


}